.showcaseCards {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcaseCards__left {
  width: 15.3%;
}

.showcaseCards__middle {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.showcaseCards__right {
  width: auto;
  cursor: pointer;
}
